<h1>Beehive API Reference</h1>
    
Methods are organized by tag. Follow the methods are the [Model Definitions](#models).

<h2>Table of Contents</h2>

{{#tags}}
* [{{name}}](#{{link}})
{{/tags}}

<br>
<br>

